{% extends 'base.html.twig' %}

{% block title %}Hardness index{% endblock %}

{% block body %}
    <h1>Hardness index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hardness in hardnesses %}
            <tr>
                <td>{{ hardness.id }}</td>
                <td>{{ hardness.number }}</td>
                <td>
                    <a href="{{ path('hardness_show', {'id': hardness.id}) }}">show</a>
                    <a href="{{ path('hardness_edit', {'id': hardness.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hardness_new') }}">Create new</a>
{% endblock %}
