{% extends 'base.html.twig' %}

{% block title %}hardness index{% endblock %}

{% block body %}
    <h1>Liste des dureté</h1>
    <a href="{{ path('hardness_new') }}">
        <button class="btn bouton">Créer une dureté</button>
    </a>
    <br><br>
    <div class="table-responsive-xl">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for hardness in hardnesses %}
                <tr>
                    <td>{{ hardness.id }}</td>
                    <td>{{ hardness.number }}</td>
                    <td>
                        <a href="{{ path('hardness_show', {'id': hardness.id}) }}">show</a>
                        <a href="{{ path('hardness_edit', {'id': hardness.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucune dureté trouvée </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
