{% extends 'base.html.twig' %}

{% block title %}Editer une pierre{% endblock %}

{% block body %}
    <h1 class="text-muted">Editer une pierre </h1>


    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 ">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}

            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}

            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                {{ form_label(form.photo) }}
                {{ form_widget(form.photo) }}
                {{ form_errors(form.photo) }}

            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                {{ form_label(form.hardnesses) }}
                {{ form_widget(form.hardnesses) }}
                {{ form_errors(form.hardnesses) }}

            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                {{ form_label(form.colors) }}
                {{ form_widget(form.colors) }}
                {{ form_errors(form.colors) }}

            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                {{ form_label(form.reloads) }}
                {{ form_widget(form.reloads) }}
                {{ form_errors(form.reloads) }}

            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                {{ form_label(form.purifications) }}
                {{ form_widget(form.purifications) }}
                {{ form_errors(form.purifications) }}

            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                {{ form_label(form.chakras) }}
                {{ form_widget(form.chakras) }}
                {{ form_errors(form.chakras) }}

            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <br>
                {{ form_label(form.submit) }}
                {{ form_widget(form.submit) }}
                {{ form_end(form) }}
            </div>
            <div class="col-2">
                <br>
                <a href="{{ path('mineral_index') }}">
                    <button class="btn bouton">Retour</button>
                </a>
            </div>
            <div class="col-2">
                <br>

            </div>
        </div>
    </div>
    </div>

{% endblock %}

