{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% if app.user.id == user.id %}
        <h1 class="text-muted">Votre profil</h1>
    {% else %}
        <h1 class="text-muted">Profil de {{ user.name }}</h1>
    {% endif %}
    <div id="profil">
        <div class="infosProfil">
            <div class="row">
                <div class="col-6 gauche">
                    <p>Nom</p>
                    <p>Prénom</p>
                    <p>Email</p>
                    {% if app.user.roles == ["ROLE_ADMIN"] %}
                        <p>Rôle de l'utilisateur</p>
                    {% endif %}
                </div>
                <div class="col-6 droit">
                    {% if user.firstName is empty %}
                        <p>-</p>
                    {% else %}
                        <p>{{ user.firstName }}</p>
                    {% endif %}
                    {% if user.name is empty %}
                        <p>-</p>
                    {% else %}
                        <p>{{ user.name }}</p>
                    {% endif %}
                    <p>{{ user.email }}</p>
                    {% if app.user.roles == ["ROLE_ADMIN"] %}
                        {% if user.roles is empty %}
                            <p>-</p>
                        {% else %}
                            {% if user.roles == ["ROLE_ADMIN"] %}
                                <p>Administrateur</p>
                            {% else %}
                                <p>Utilisateur</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
        {% if app.user.id == user.id %}
            <a href="{{ path('user_edit', {'id': user.id}) }}" ><button class="bouton">Modifier</button></a>
        {% endif %}
        <a href="{{ path('app_Index', {'id': user.id}) }}" ><button class="bouton">Retour</button></a>

    </div>

{% endblock %}